/*GENERAL*/
body{overflow-x: hidden;}
.container__scroll{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
    background-color: #111132;
}
section{
    scroll-snap-align: start;
}

/*RESPONSIVE | MOBILE */
/*navbar*/
nav{
    background-color: #111132;
}
.nav__font{
    color: #D923CD;
    font-size: 15px;
    text-shadow: 1px 1px 9px #ffffffa9;
    font-family: 'Montserrat', sans-serif;
}
.nav__logo{width: 100px;}
.navbar__hamburguer{
    background-image: url(../img/menu.png);
    width: 25px;
}

/*SECTION 1*/
.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/section1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(80%);
}
.hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}
.hero-title {
    font-size: 65px;
    text-shadow: 1px 1px 1px black;
    font-weight: 600;
    margin-bottom: 0;
    font-family: 'Kirang Haerang', cursive;
}
.hero-subtitle {
    font-size: 16px;
    margin-left: 7vh;
    margin-right: 7vh;
    font-weight: 200;
    margin-top: 1rem;
    text-shadow: 1px 1px 1px black;
}
#home__frases{
    margin-top: 6vh;
    font-family: 'Kirang Haerang', cursive;
    font-size: 30px;
    background-color: #9148d90c;
    filter: drop-shadow(2px 2px 2px  rgba(255, 255, 255, 0.233));
    border-radius: 29px 58px 87px;
}
.hero-button {
    background-color: #D923CD;
    color: white;
    border: 1px solid #cb376a;
    margin-top: 4rem;
    padding: 0.9375rem1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 15px;
    font-weight: 200;
    width: 130px;
    cursor: pointer;
}
.hero-button:hover {
    background-color: #cb376a;
    border: 1px solid #db7598;
}
.heartbeat{
    -webkit-animation: heartbeat 8s;
            animation: heartbeat 8s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
    @keyframes heartbeat{
        0%, 20%, 40%, 60%, 80%, 100%
        {
            transform: scale(1);
        }
        10%, 30%, 50%, 70%, 90%
        {
            transform: scale(1.15);
        }
    }
    @-webkit-keyframes heartbeat{
        0%, 20%, 40%, 60%, 80%, 100%
        {
            -webkit-transform: scale(1);
        }
        10%, 30%, 50%, 70%, 90%
        {
            -webkit-transform: scale(1.15);
        }
    }

/* SECTION 2*/
#Game{
    min-height: 100vh;
    background-color: #111132;
}
.card{
    border-radius:0px;
    min-height: 350px;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 2px 2px 2px 2px rgba(46, 44, 44, 0.397);
    margin-right: 3vh;
    margin-left: 3vh;
    border-color: rgba(46, 44, 44, 0.397);
}
.game__title{
    text-align: center;
    margin-top: 2vh;
    font-size: 45px;
    color: #9048D9;
    text-shadow: 1px 1px 1px black;
    font-family: 'Kirang Haerang', cursive;
}
.game__points{
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 3vh;
    color: rgba(46, 44, 44, 0.397);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.game__profile {
    width: 170px;
    align-self: center;
}

.card-title{
    text-align: center;
    margin-bottom: 3vh;
    font-family: 'Kirang Haerang', cursive;
    font-size: 25px;
    color: #D923CD;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.801);
}
.card-text{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-right: 1vh;
    margin-bottom: 6vh;
    margin-left: 1vh;
    color: #23104C;
}
.game__btn--user {
    background-color: transparent; 
    margin-left: 14vh;
    border-color: #9148d9; 
    border-radius: 90px 90px 90px 90px;
    padding: 12px 16px;
    margin-bottom: 1vh;
    box-shadow: 2px 3px 0px 2px rgba(56, 55, 55, 0.205);
    cursor: pointer; 
    transform: 1s;
}
.game__btn--user:hover {
    background-color: #9048D9;
    box-shadow: 2px 3px 0px 2px #9148d97e;
}
.game__piedra{
    width: 80px;
}
.game__papel{
    width: 80px;
}
.game__tijera{
    width: 80px;
}

/*SECTION 3*/
.about__container{
    position: relative;}
.about__name{
    color: #ec6ae4;
    font-family: 'Kirang Haerang', cursive;
    font-size: 18px;
    text-shadow: 1px 1px 1px blue;
}
.about__text{
    text-shadow: 1px 1px 1px black;
    color: white;
    text-align: justify;
    margin-left: 28vh;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
}
.about__text--bold{
    color: #E06CCB;
}
.about__logo{
    margin-top: 28vh;
    margin-left: 40vh;
    width: 0px;
    height: 110px;
}
/*SECTION 4*/
#Contact{
    min-height: 100px;
    background-color: #bbbbd891;;
}

/*SECTION 5*/
#Share{
    min-height: 100px;
    background-color: #a1a1c58f;
}

/*footer*/
footer{
    background: #0d0d27;
    margin-bottom: 0%;
}
.footer__copyright{
    min-height: 30px;
    color: white;
    text-align: center;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 1px rgba(238, 130, 238, 0.486);
}


/* ------------------------------------ [ TABLET ] ------------------------------------*/ 
@media screen and (min-width:768px) and (max-width: 1024px) {
    /*navbar*/
    .nav__font{font-size: 18px;}
    .nav__logo{width: 130px;}
    .navbar__hamburguer{width: 30px;}

    /*SECTION 1*/
    .hero-title {
        font-size: 75px;
        margin-bottom: 1vh;
        text-shadow: 1px 1px 1px black;
        font-weight: 600;
        font-family: 'Kirang Haerang', cursive;
    }
    .hero-subtitle {
        font-size: 18px;
        margin-bottom: 8vh;}
    .hero-button {
        background-color: #D923CD;
        color: white;
        border: 1px solid #cb376a;
        margin-top: 4rem;
        padding: 0.9375rem1.875rem;
        font-family: "Monserrat", sans-serif;
        font-size: 18px;
        font-weight: 200;
        width: 200px;
        cursor: pointer;
    }
    .hero-button:hover {
        background-color: #cb376a;
        border: 1px solid #db7598;
    }

    /* SECTION 2*/
    .game__profile {width: 160px;}
    .card-title{
        margin-bottom: 2vh;
        font-size: 27px;
    }
    .card-text{font-size: 14px;}
    .game__btn--user {
        margin-left: 9vh;
        margin-bottom: 2vh;
    }

    /*SECTION 3*/
    .about__name{
        font-size: 33px;
    }
    .about__text{
        margin-left: 42vh;
        font-size: 14px;
    }
    .about__text--bold{
        color: #E06CCB;
    }
    /*SECTION 4*/
    #Contact{
        min-height: 100px;
        background-color: #bbbbd891;;
    }

    /*SECTION 5*/
    #Share{
        min-height: 100px;
        background-color: #a1a1c58f;
    }

    /*footer*/
    footer{
        background: #0d0d27;
        margin-bottom: 0%;
    }
    .footer__copyright{
        min-height: 30px;
        color: white;
        text-align: center;
        font-size: 17px;
        font-family: 'Montserrat', sans-serif;
        text-shadow: 1px 1px 1px rgba(238, 130, 238, 0.486);
    }
}
/* ------------------------------- [ DESKTOP ] -------------------------------*/
@media screen and (min-width:1024px) {
    /*navbar*/
    .nav__font{margin-left: 18px;  font-size: 18px; color: rgba(255, 255, 255, 0.479); text-shadow: 0px 0px 0px;}
    .nav__font:hover{ color: white;}
    .nav__logo{width: 130px;}

    /*SECTION 1*/
    .hero-title {font-size: 85px;}
    .hero-subtitle {
        font-size: 20px;}
    .hero-button {
        margin-top: 8rem;
        width: 210px;
    }
    .input-group{
        width: 210px;
        margin-top: 5vh;
        margin-left: 27vh;
        box-shadow: 2px 2px 2px 2px rgba(153, 151, 151, 0.233);
    }

    /* SECTION 2*/
    .game__profile {width: 170px;}
    .card-title{
        margin-bottom: 2vh;
        font-size: 30px;}
    .card-text{font-size: 15px;}
    .game__btn--user {
        margin-left: 41vh;
        margin-bottom: 3vh;
    }
    .game__you{
        text-align: center;
        font-family: 'Kirang Haerang', cursive;
        font-size: 35px;
        color: #23104C;
    }

    /*SECTION 3*/
    #about{
        min-height: 800px;
    }
    .about__name{
        font-size: 33px;
    }
    .about__p{
        color: white;
        margin-top: 15vh;
        margin-right: 1vh;
        margin-left: 50vh;
        text-align: justify;
    }

    ul.timeline {
        margin-top: 10vh;
        margin-bottom: 10vh;
        list-style-type: none;
        position: relative;
        padding-left: 1.5rem;
    }
    /* Timeline vertical line */
    ul.timeline:before {
        content: ' ';
        background: #fff;
        display: inline-block;
        position: absolute;
        left: 16px;
        width: 5px;
        height: 100%;
        z-index: 400;
        border-radius: 1rem;
    }
    li.timeline-item {
        margin: 20px 0;
    }
    /* Timeline item circle marker */
    li.timeline-item::before {
        content: ' ';
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #fff;
        left: 11px;
        width: 14px;
        height: 14px;
        z-index: 400;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
    .about__text--bold{
        color: #E06CCB;
    }
    .float{
        -webkit-animation: float 1.6s;
                animation: float 1.6s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }
    @keyframes float{
        0%, 100%
        {
            transform: translateY(0);
        }
        50%
        {
            transform: translateY(-20px);
        }
    }
    @-webkit-keyframes float{
        0%, 100%
        {
            -webkit-transform: translateY(0);
        }
        50%
        {
            -webkit-transform: translateY(-20px);
        }
    }
    /*SECTION 4*/
    #Contact{
        min-height: 100px;
        background-color: #bbbbd891;;
    }

    /*SECTION 5*/
    #Share{
        min-height: 100px;
        background-color: #a1a1c58f;
    }

    /*footer*/
    footer{
        background: #0d0d27;
        margin-bottom: 0%;
    }
    .footer__copyright{
        min-height: 30px;
        color: white;
        text-align: center;
        font-size: 17px;
        font-family: 'Montserrat', sans-serif;
        text-shadow: 1px 1px 1px rgba(238, 130, 238, 0.486);
    }
}